

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    background-color: aliceblue;
}

.main{
    width: 400px;
    height: 400px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    margin: 0 auto;
    margin-top: 100px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.title{
        font-size: 30px;
        font-weight: bold;
        color: #000000;
        margin-bottom: 20px;
        color: red;
        background-color: white;
    }


    form{
        background-color: white;
    }

.username, 
.password{
    width: 80%;
    height: 30px;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 20px;
    color: #000000;
    background-color: white;
}

button{
    width: 25%;
    height: 40px;
    border: 1px solid #000000;
    border-radius: 7px;
    font-size: 15px;
    /* color: #000000; */
    background-color: #ebe8e8;
    cursor: pointer;
}


button:hover{
    background-color: red;
    color: #000000;
}